{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>User Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="{% static 'images/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">

</head>
<body>

<div class="navigation">
    <a href="/me/{{ data.randomKey }}"> Add New Facts </a>
    <a href="/uploadFile/{{ data.randomKey }}"> Add New Audio </a>
    <a href="/uploadPicture/{{ data.randomKey }}"> Change Your Picture </a>
    <a href="/scoreboard"> Scoreboard </a>
    </div>

    <h1>Hey {{data.username}} </h1>
    
    <div><h2>Add New Fact</h2>
        <form id='new-fact-form' method="post" action="/ajax/addFact">
            <input type="text" id="new_fact" maxlength="200" name="new_fact">
            <input type="hidden" value={{data.userId}} name="user_id">
            <input type="submit" value="Add">
        </form>
        <script type="text/javascript">
            Event.observe('new-fact-form', 'submit', function(event) {
                Event.stop(event);
                var parameter = $('new-fact-form').serialize();
                new Ajax.Request('/ajax/addFact', { method:'post', parameters: parameter,
                    onSuccess: function(transport){
                        $('new-fact-insert').insert({
                            after: transport.responseText
                            
                        })
                    }

                 });
              $('new_fact').setValue('');
            });
        </script>
    </div>
    
    {% for singleFact in data.myFacts %}
        <div class='singleFact'>
            {{ singleFact.fact.text }}
        </div>
    {% endfor %}

    <div id='new-fact-insert'>
    </div>

    
    
</body>
</html>
