{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Welcome to Kanjoya</title>
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div class="main">
    <h1 class="heading">Welcome to Kanjoya</h1>
    <a href="#" id="visitor" class="button">Visitor</a>
    <a href="#" id="kanjoyan" class="button">Kanjoyan</a>

    <script type="text/javascript">
        $('kanjoyan').on('click', function() {
	    this.up('.main').down('.kanjoyan-list').setStyle({ 'display' : 'block' });
        });
    </script>
    <div class="kanjoyan-list">
        {% if user_list %}
            <ul>
            {% for user in user_list %}
                <li><a href="/welcome/{{ user.id }}/" title="{{ user.username }}"><img src="{{ user.image }}" alt="{{ user.username }}" /></a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No users are available.</p>
        {% endif %}

    </div>
</div>
