{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Welcome to Kanjoya</title>
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link href="{% static 'images/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
</head>
<body>
<div class="main">
    <h1>Hey {{data.currentUser.username}} </h1>
    
    {% if data.success == '1' %}
        <h2> Good Job!</h2>
    {% else %}
        <h2> Bad Luck</h2>
    {% endif %}
        
    <div class="answer">
	<div class="fact">&ldquo;{{ data.fact.fact.text }}&rdquo;</div>
        <div class="title">was said by:</div>
        <div class="single-kanjoyan">
	    <a href="" title="{{ data.fact.kanjoyan.username }}"><img src="/{{ data.fact.kanjoyan.image }}" alt="{{ data.fact.kanjoyan.username }}" /></a>
	</div>
    </div>
    <div class="clear" />
    <div id="redirect" class="redirect">

    </div>



    <script type="text/javascript">
        var count = 10;
        var redirect="/";  
        var element = $('redirect');
        function countDown() {  
            if (count <=0) {  
                window.location = redirect;  
            } else {  
                count--;  
                element.update("This page will redirect in "+count+" seconds.");
            }  
            setTimeout("countDown()", 1000)  
        }  
        countDown();
    </script>
</div>
    
</body>
</html>
