<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>User Page</title>
     <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
</head>
<body>

<div class="navigation">
    <a href="/me/{{ randomKey }}"> Add New Facts </a>
    <a href="/uploadFile/{{ randomKey }}"> Add New Audio </a>
    <a href="/uploadPicture/{{ randomKey }}"> Change Your Picture </a>
    <a href="/scoreboard"> Scoreboard </a>
    </div>
    <h1>Hey {{currentUser.username}}. Upload your profile picture</h1>
    
    <div>
    <form method="post" enctype="multipart/form-data" action="/uploadPictureAction/{{currentUser.id}}" >
        <input type="file" name="myfile" />
        <input type="submit" name="submit" value="Upload" />
    </form>
        
    
    </div>
    
</body>
</html>
