{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Welcome to Kanjoya</title>
    <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link href="{% static 'images/favicon.ico' %}" type="image/x-icon" rel="shortcut icon">
</head>
<body>
<div class="main">
    <h1> Welcome Visitor </h1>
    
    <h2> ~ Come on in ~ </h2>
        
    
</div>

    <script type="text/javascript">
        var count = 20;
        var redirect="/";  
        function countDown() {  
            if (count <=0) {  
                window.location = redirect;  
            } else {  
                count--;  
            }  
            setTimeout("countDown()", 1000)  
        }  
        countDown();
    </script>
    
</body>
</html>
