<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>User Page</title>
     <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
</head>
<body>
    <h1>Hey {{data.currentUser.username}} </h1>
    
    <div><h2> {{data.randomFact.fact.text}}</h2>
      
    <form id='postAnswer' method='post' action='/showAnswer' class='hidden'>
    </form>

     <div class="kanjoyan-list">
     <ul>
    {% for user in data.kanjoyans %}
        {% if data.randomFact.kanjoyan == user %}
             <li><a href="#" onclick="rightAnswer({{data.currentUser.id}}, {{data.randomFact.id}})" ><img src="/{{ user.image }}" width="250" height="250" /></a></li>
        {% else %}
             <li><a href="#" onclick="wrongAnswer({{data.currentUser.id}}, {{data.randomFact.id}})"><img src="/{{ user.image }}" width="250" height="250" /> X </a></li>
        {% endif %}
    {% endfor %}        
         </ul></div>   
        
        <script type="text/javascript">
            function wrongAnswer(userId, randomFactId){
                var form = $('postAnswer');
                form.insert("<input type='hidden' name='user_id' value='"+userId+"'>");
                form.insert("<input type='hidden' name='fact_id' value='"+randomFactId+"'>");
                form.insert("<input type='hidden' name='success' value='0'>");
                form.submit();
            }

            function rightAnswer(userId, randomFactId){
                var form = $('postAnswer');
                form.insert("<input type='hidden' name='user_id' value='"+userId+"'>");
                form.insert("<input type='hidden' name='fact_id' value='"+randomFactId+"'>");
                form.insert("<input type='hidden' name='success' value='1'>");
                form.submit();
            }

        </script>
    </div>
    
    

    <div id='new-fact-insert'>
    </div>

    
    
</body>
</html>